# PID Tuning Makros für Klipper
# Verwendung: PID_TUNE_EXTRUDER oder PID_TUNE_BED

[gcode_macro PID_TUNE_EXTRUDER]
description: PID Tune for Extruder
gcode:
    {% set TARGET_TEMP = params.TARGET_TEMP|default(210)|float %}
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    
    # Homing
    G28
    
    # Z-Achse auf sichere Höhe
    G1 Z5 F3000
    
    # Bett vorheizen
    M140 S{BED_TEMP}
    
    # PID Tuning starten
    PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}
    
  


[gcode_macro PID_TUNE_BED]
description: PID Tune for Bed
gcode:
    {% set TARGET_TEMP = params.TARGET_TEMP|default(60)|float %}
    
    # Homing
    G28
    
    # Z-Achse auf sichere Höhe
    G1 Z5 F3000
    
    # PID Tuning starten
    PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP}
    

